<h1><%= @user.email %> Profile</h1>


<% if is_admin?(current_user) %>
  <div style='background-color:grey'>
    <h1>Admin-Panel</h1>
    <% @reservations.each do |r| %>
    <% if r.restaurant && r.user_id == current_user.id %>
        <%= r.restaurant.name %><br>
        <%= r.restaurant.num_seats %><br>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= @user.points %> points<br>
<%= @user.role %><br>
<%= link_to "Edit Link", edit_user_path %><br>
<%= link_to "Delete User", {action:"destroy"}, method: :delete, data: { confirm: "are you sure?" } %><br>

<div style="background-color: green">
  <h2>Reservations</h2>
  user id: <%= current_user.id %><br>


  <% @user.reservations.each do |f| %>
    <% if f.restaurant != nil %>
      Name: <%= f.restaurant.name %>
    <% end %>

    <br>
    time: <%= f.time %><br>
    size: <%= f.size %><br>
  <% end %>


</div>


