<h1>Make a new reservation at <%= @restaurant.name%></h1>

  <%= @restaurant.address %><br>

  <%= form_for [@restaurant, @reservation] do |f| %>
    <p>
      <%= f.label "seats to book" %><br>
      <%= f.number_field "size" %>
    </p>

    <p>
      <%= f.label "time" %><br>
      <%= f.datetime_select(:time, ampm: true) %>
    </p>

    <p>
      <%= submit_tag "save", id: "submit", class: "button" %>
    </p>

  <% end %>

